<!-- This is an example component -->
<div class="container mx-auto shadow-lg rounded-lg">
<!-- Chatting -->
<div class="flex flex-row justify-between bg-white">
<!-- chat list -->
<div class="flex flex-col w-2/5 border-r-2 overflow-y-auto">
  <!-- search compt -->
  <div class="border-b-2 py-4 px-2">
    <input
      type="text"
      placeholder="search chatting"
      class="py-2 px-2 border-2 border-gray-200 rounded-2xl w-full"
    />
  </div>
  <!-- end search compt -->
  <!-- user list -->
  <div
    class="flex flex-row py-4 px-2 justify-center items-center border-b-2"
  >
    <div class="w-1/4">
      <img
        src="https://source.unsplash.com/_7LbC5J-jw4/600x600"
        class="object-cover h-12 w-12 rounded-full"
        alt=""
      />
    </div>
    <div class="w-full">
      <div class="text-lg font-semibold">Luis1994</div>
      <span class="text-gray-500">Pick me at 9:00 Am</span>
    </div>
  </div>
  <!-- <div class="flex flex-row py-4 px-2 items-center border-b-2">
    <div class="w-1/4">
      <img
        src="https://source.unsplash.com/otT2199XwI8/600x600"
        class="object-cover h-12 w-12 rounded-full"
        alt=""
      />
    </div>
    <div class="w-full">
      <div class="text-lg font-semibold">Everest Trip 2021</div>
      <span class="text-gray-500">Hi Sam, Welcome</span>
    </div>
  </div> -->
    <!--Filtrage des msgs-->
    <div class="flex flex-row py-4 px-2 items-center border-b-2">


<div class="w-1/4">
<input type="checkbox" name="read" (click)=filter($event)>
</div>
<label class="w-full" for="read">Voir que les msg non lus <app-notification></app-notification> </label>

    </div>
    <!--Fin filtre-->
    <!--Nouveau message-->
    <div class="flex flex-row py-4 px-2 border-b-2">
      <div class="flex content-center">
        <a [routerLink]="['/new-message']" routerLinkActive="router-link-active"  class="mt-3 bg-blue-500 hover:bg-blue-400 text-white font-semibold p-5">Nouveau message</a>
      </div>
    </div>
  <!-- end user list -->
  <!--Refresh msgs-->
  <div class="flex flex-row py-4 px-2 border-b-2">
    <div class="flex content-center">
      <button (click)=refresh($event) >Rafraichir la liste</button>
    </div>
  </div>
  <!--End Refresh msgs-->
</div>
<!-- end chat list -->
<!-- message -->
<div class="w-full px-5 flex flex-col justify-between">
  <div class="flex flex-col mt-5" *ngFor="let message of messages">
    <div *ngIf="message.from == 'Yohan'" >
    <div class="flex justify-end mb-4">

        <div
        class="mr-2 py-3 px-4 bg-blue-400 rounded-bl-3xl rounded-tl-3xl rounded-tr-xl text-white"
      >

       <h1>{{ message.subject }}</h1>
        {{ message.body }}

      </div>
      <img
          src="https://source.unsplash.com/L2cxSuKWbpo/600x600"
          class="object-cover h-8 w-8 rounded-full"
          alt=""
        />
    </div>
  </div>
    <div *ngIf="message.from != 'Yohan'">
      <div class="flex justify-start mb-4">
        <img
          src="https://source.unsplash.com/vpOeXr5wmR4/600x600"
          class="object-cover h-8 w-8 rounded-full"
          alt=""
        />
        <div
          class="ml-2 py-3 px-4 bg-gray-400 rounded-br-3xl rounded-tr-3xl rounded-tl-xl text-white"
        >
        <h1>{{ message.subject }}</h1>
        {{ message.body }}
        </div>
      </div>
    </div>
    </div>

  </div>
  </div>
</div>
<!-- end message -->




