<div class="container mx-auto shadow-lg rounded-lg px-8 py-8">
<h3 class="text-2xl text-gray-900 font-semibold">Nouveau message</h3>
  <div class="flex space-x-5 mt-3">
      <input type="text" name="from" id="" placeholder="De" class="border p-2  w-1/2"  [(ngModel)]="message.from">
      <input type="text" name="to" id="" placeholder="À" class="border p-2 w-1/2"  [(ngModel)]="message.to">
  </div>
  <input type="text" name="title" id="" placeholder="Titre du message" class="border p-2 w-full mt-3"  [(ngModel)]="message.subject">
  <input type="text" name="body" id=""  placeholder="Votre message" class="border p-2 mt-3 w-full" [(ngModel)]="message.body">
  <div class="flex space-x-5 mt-3">
    <button (click)="clear()" class="w-1/2 mt-6 bg-yellow-500 hover:bg-orange-500 text-white font-semibold p-3">Annuler</button>
    <button (click)="send()" [routerLink]="['/inbox']" routerLinkActive="router-link-active"  class="w-1/2 mt-6 bg-blue-500 hover:bg-blue-400 text-white font-semibold p-3">Envoyer</button>
  </div>
</div>
