<header role="banner" class="container mx-auto shadow-lg rounded-lg">
  <div class="flex flex-wrap lg:px-4">
   <div class="my-2 pr-2 w-5/12 lg:w-3/12 overflow-hidden">
    <div class="ml-4 lg:ml-3 mt-5">
      <div class="inline-block w-full text-xl lg:text-base font-semibold no-underline py-2 lg:px-4 pt-2">
        <a href="/" class="text-white lg:text-black no-underline is-active">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
          </svg>
        </a>
       </div>
    </div>
   </div>
   <div class="w-full lg:w-8/12 hidden lg:block bg-black lg:bg-white mt-4 lg:mt-0 lg:text-right" id="nav-content" aria-expanded="false">
    <div class="px-6 lg:px-0 lg:pt-5 xl:pt-7">
     <div>
      <nav role="navigation" aria-labelledby="block-main-menu" id="block-main">
       <ul class="list-reset lg:flex justify-end flex-1 items-center">
        <li class="inline-block w-full text-xl lg:text-base font-semibold no-underline py-2 lg:px-4">
         <a [routerLink]="['/inbox']" routerLinkActive="router-link-active"  class="text-white lg:text-black no-underline">Messages API <app-notification></app-notification> </a>
        </li>
        <li class="inline-block w-full text-xl lg:text-base font-semibold no-underline py-2 lg:px-4">
         <a href="/page-2" class="text-white lg:text-black no-underline is-active">Gmail</a>
        </li>
        <li class="inline-block w-full text-xl lg:text-base font-semibold no-underline py-2 lg:px-4">
          <a href="/page-2" class="text-white lg:text-black no-underline is-active">Chat interne</a>
         </li>
       </ul>
      </nav>
     </div>
    </div>
   </div>
  </div>
 </header>
