<router-outlet></router-outlet>


<!--Count represente le nb de message à afficher sur la page Messages représentes ma liste de messages contenus dans contentComponent -->
<!-- <app-inbox [count]=7 [messages]='messages' ></app-inbox>
<app-createmsg></app-createmsg> -->
